<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>유니스트 택시 카풀</h1>
    <p>채팅방을 개설하여 택시를 같이 타고갑시다</p>
    <p><a class="btn btn-primary btn-lg" href="/home/makeroom" role="button">방만들기 &raquo;</a>
    <a class="btn btn-warning btn-lg" href="/home/room" role="button">테스트 채팅 &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>본관 앞 &raquo; 구영리</h2>
      <p>출발 시간 : 오늘 오후 3시 10분 </p>
      <p>( 1시간 10분 남음 ) </p>
      <p>최소 인원 : 2명 이상 </p>
      <p><a class="btn btn-default" href="#" role="button">같이가기 &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>울대 &raquo; 기숙사(1차)</h2>
      <p>출발 시간 : 오늘 오후 4시 20분 </p>
      <p>( 2시간 20분 남음 ) </p>
      <p>최소 인원 : 3명 이상 </p>
      <p><a class="btn btn-default" href="#" role="button">같이가기 &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>기숙사(3차) &raquo; KTX울산역</h2>
      <p>출발 시간 : 오늘 오후 4시 30분 </p>
      <p>( 2시간 30분 남음 ) </p>
      <p>최소 인원 : 2명 이상 </p>
      <p><a class="btn btn-default" href="#" role="button">같이가기 &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; UNIST taxi 2015</p>
  </footer>
</div> <!-- /container -->
